bin
obj
.vs/
*.htm
*.user
packages/
**/CodeGeneration.Log.xml
!Bindings/CircularRevealBinding/CircularRevealBinding/bin/Debug/CircularRevealBinding.dll
*.bak

# JetBrains Rider
*.iml
.idea
/Sources/HipMobileUI.Android/Resources/drawable-hdpi/ic_my_location(500).png
/Sources/HipMobileUI.Android/Resources/drawable-hdpi/ic_my_location(new).png
