HiPMobile/HiPMobile/bin/
HiPMobile/HiPMobile/obj/
HiPMobile/HiPMobile.Droid/bin/
HiPMobile/HiPMobile.Droid/obj/
HiPMobile/HiPMobile.iOS/bin/
HiPMobile/HiPMobile.iOS/obj/
HiPMobile/HiPMobile.WinPhone/bin/
HiPMobile/HiPMobile.WinPhone/obj/