<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="PaderbornUniversity.SILab.Hip.Mobile.Droid" android:versionCode="1" android:versionName="0.1">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<application android:label="Historisches Paderborn" android:icon="@drawable/ic_launcher"></application>
</manifest>